body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height: 500px;
    text-align: center;
    overflow: hidden;
    background-image: linear-gradient(#1d61c9a1 40%, rgba(33, 33, 163, 0.7) 70%), url(image/header-forest.jpg);
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    position: relative;
    line-height: 500px;
}
.banner h1{
    font-size: 30px;
    font-weight: 700;
}
.contendor-textos{
    height: 100%;
}

.grid-container{
    width: 90%;
    margin: 40px 40px;
    display: grid;
    column-gap: 30px;
    padding-bottom: 50px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(180px,380px));
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0, 0,0.2);
    transition: 0.3s;
}
.container{
    padding: 20px 16px;
    text-align: center;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0, 0,0.5);
}

@media screen and (max-width: 500px){
    .banner{
        width: 80%;
    }
    .grid-container{
        width: 70%;
    }
}